html,
body {
  height: 100%;
  margin: 0;
  background: #442127;
  color: #e9e9e9;
  z-index: -2;
}

#star-field {
  margin: 10px;
  padding: 2em;
  height: calc(100% - 20px);
  /*width: 100px;*/
  background-color: #03131C;
  overflow-y: scroll;
  z-index: -1;
}

.floating-tooltip {
  position: absolute;
  background: #442127;
  border: 1px solid #103558;
  /*display: inline-block;*/
  color: #FBD868;
  font-size: 6pt;
  margin: 1px 2px;
  padding: 2px 3px;
  display: none;
  z-index: 5;
}

.floating-form {
  position: absolute;
  margin-left: 5px;
  background: #871818;
  border: 1px solid #442127;
  display: inline-block;
  z-index: 4;
}

#message-title-box, #message-box, #submit-btn {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  font-size: 8pt;
  width: 14em;
}

#message-title-box {
}

#message-box {
  height: 8em;
}

.star {
  position: absolute;
  /*top: 50px;
  left: 80px;*/
  padding: 0;
  margin: 0;
  color: #f0f;
  background-color: #FBD868;
  min-height: 3px;
  min-width: 3px;
  border-radius: 1px;
  z-index: 3;
}

.star-label {
  position: absolute;
  background: #442127;
  border: 1px solid #fff;
  color: #FBD868;
  font-size: 8.5pt;
  margin: 1px 2px;
  padding: 2px 3px;
  user-select: none;
}

.star-text {
  position: absolute;
  top: 3em;
  background: #442127;
  border: 1px solid #eee;
  color: #FBD868;
  font-size: 8.5pt;
  margin: 1px 2px;
  padding: 2px 3px;
  user-select: none;
}
