html,
body {
  height: 100%;
  margin: 0;
  background: #442127;
  color: #e9e9e9;
  z-index: -2;
}

#star-field {
  margin: 10px;
  padding: 2em;
  height: calc(100% - 20px);
  /*width: 100px;*/
  background-color: #03131C;
  overflow-y: scroll;
  z-index: -1;
}

.floating-tooltip {
  position: absolute;
  background: #442127;
  border: 1px solid #103558;
  /*display: inline-block;*/
  color: #FBD868;
  font-size: 6pt;
  margin: 1px 2px;
  padding: 2px 3px;
  display: none;
  z-index: 5;
}

.floating-form {
  position: absolute;
  margin-left: 5px;
  background: #871818;
  border: 1px solid #442127;
  display: inline-block;
  z-index: 2;
}

.star {
  position: absolute;
  /*top: 50px;
  left: 80px;*/
  padding: 0;
  margin: 0;
  color: #f0f;
  background-color: #FBD868;
  min-height: 5px;
  min-width: 5px;
  border-radius: 2px;
}
