{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ star }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'starrynight/css/default.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- might need to remove the json_script and replace with a cleaning script of our own -->
    {% comment %}{{ star_list | json_script:"star-data" }}{% endcomment %}
    {{ star_list | json_script:"XD" }}
    <div id="star-field">
      <div class="floating-form">
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" name="" value="submit" id="submit_btn">
        </form>
      </div>
      <div class="floating-tooltip"></div>
      {% for each_star in star_list %}
        <p class="star" style="top: {{ each_star.yCoord }}; left: {{ each_star.xCoord }}"></p>
      {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'starrynight/js/field.js' %}"></script>
  </body>
</html>
